@font-face {
	font-family: 'OpenSans';
src: url('../fonts/OpenSans-Regular.ttf');
}

body{
	background: url('../img/bg.png');
	background-repeat: repeat;
}

.clearfix:after {
	content: ". "; /* Older browser do not support empty content */
	visibility: hidden;
	display: block;
	height: 0;
	clear: both;
}

.container{
	width: 1060px;
	height: 950px;
	margin: 0 auto;
	background-color: white;
	box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
}

.wrapper{
	position: relative;
	height: 950px;
	width: 968px;
	margin: 0 auto;
	margin-top: -10px;
	background-color: white;
}

.wrapper img{
	margin-top: 53px;
	height: 100%;
}

.nav-bar{
	margin-top: 38px;
	margin-left: 0;
	height: 40px;
	background: url('../img/panel_header.jpg');
}

.btn{
	padding-top: 0;
	margin: 0;
	position: relative;
	overflow: hidden;
}

.btn li{
	list-style: none;
	float: left;
	width: 98px;
	height: 40px;
	margin: 0;
	padding: 0;
	margin-left: -40px;
	margin-right: 90px;
	text-align: center;
}

.btn a{
	text-align: center;
	display: block;
	line-height: 40px;
	font-size: 15px;
	color: white;
	font-family: 'OpenSans', sans-serif;
	text-decoration: none;
}

.btn a:hover {
	background: url('../img/link.jpg');
	border-right: 1px solid #ffffff;
	border-left: 1px solid #ffffff;
}

.sidebar{
	margin-top: 40px;
	float: left;
}

.sidebar ul{
	margin: 0;
	padding: 0;
	list-style: none;
}

.sidebar li{
	display: block;
	border: 1px solid #c8c8c8;
	width: 240px;
	height: 38px;
	font-family: 'OpenSans', sans-serif;
	font-size: 13px;
	font-weight: 400;
	line-height: 37px;
	color: #656363;
}

.sidebar a{
	text-decoration: none;
	width: 100%;
	height: 100%;
	padding-left: 20px;
	line-height: 38px;
	display: block;
}

.sidebar a:hover{
	padding-left: 40px;
	background-color: #f9f9f9;
	width: 200px;
}

.content{
	margin-top: 0;
	float: right;
}

.frame {
	margin-top: 40px;
	width: 677px;
	height: 398px;
	background-color: white;
	border: 1px solid #c8c8c8;
}

.img{
	width: 500px;
	height: 307px;
	margin: auto;
	margin-top: -8px;
}

.content-txt{
	width: 625px;
	margin-top: 33px;
	margin-left: 25px;
	font-family: 'OpenSans', sans-serif;
	font-size: 13px;
	line-height: 21px;
}

.footer {
	position: absolute;
	height: 40px;
	width: 968px;
	margin: 0;
	bottom: 55px;
	padding: 0;
	background: url("../img/panel_footer.jpg");
}

.footer ul{
	position: relative;
	margin:0;
	margin-left: 20px;
	padding: 0;
	list-style: none;
}

.footer li{
	float: left;
	height:29px;
	margin-left: 8px;
	margin-right: 85px;
	font-family: 'OpenSans', sans-serif;
	font-size: 13px;
	color: #2c2c2c;
	padding-bottom: 15px;
	line-height: 24px;
}

.footer li:last-child{
	float: right;
	padding-right: 23px;
	margin: 0;
}

.footer li p{
	color: #2c2c2c;
	line-height: 13px;
}

.footer li a{
	text-decoration: none;
	color: #2c2c2c;
	line-height: 36px;
}

.footer li a:hover{
	text-decoration: underline;
}